In [86]:
import numpy as np
import pandas as pd

In [87]:
credits = pd.read_csv('credits.csv')

In [88]:
credits

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)', 'credit_id': '52fe4284c3...","[{'credit_id': '52fe4284c3a36847f8024f49', 'department': 'Directing', '...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', 'credit_id': '52fe44bfc3a3...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'department': 'Production', ...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'credit_id': '52fe466a92514...","[{'credit_id': '52fe466a9251416c75077a89', 'department': 'Directing', '...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah' Jackson"", 'credit_id': ...","[{'credit_id': '52fe44779251416c91011acb', 'department': 'Directing', '...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', 'credit_id': '52fe44959251...","[{'credit_id': '52fe44959251416c75039ed7', 'department': 'Sound', 'gend...",11862
...,...,...,...
45471,"[{'cast_id': 0, 'character': '', 'credit_id': '5894a909925141427e0079a5...","[{'credit_id': '5894a97d925141426c00818c', 'department': 'Directing', '...",439050
45472,"[{'cast_id': 1002, 'character': 'Sister Angela', 'credit_id': '52fe4af1...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'department': 'Directing', '...",111109
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'credit_id': '52fe4776c3a368...","[{'credit_id': '52fe4776c3a368484e0c8387', 'department': 'Directing', '...",67758
45474,"[{'cast_id': 2, 'character': '', 'credit_id': '52fe4ea59251416c7515d7d5...","[{'credit_id': '533bccebc3a36844cf0011a7', 'department': 'Directing', '...",227506
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'department': 'Directing', '...",461257

In [89]:
meta = pd.read_csv('movies_metadata.csv')

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [90]:
meta['release_date'] = pd.to_datetime(meta['release_date'], errors='coerce')

In [91]:

meta['year'] = meta['release_date'].dt.year

In [92]:
meta['year'].value_counts().sort_index()

1874.0       1
1878.0       1
1883.0       1
1887.0       1
1888.0       2
          ...
2015.0    1905
2016.0    1604
2017.0     532
2018.0       5
2020.0       1
Name: year, Length: 135, dtype: int64

In [93]:
# Getting only movies upto 2017 movies as we don't have enough data for the movies from 2018, 2019 and 2020. 
# We'll deal with it in the upcoming preprocessing files
new_meta = meta.loc[meta.year <= 2017,['genres','id','title','year']]

In [94]:

new_meta

,genres,id,title,year
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': ...",862,Toy Story,1995.0
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id':...",8844,Jumanji,1995.0
2,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]",15602,Grumpier Old Men,1995.0
3,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'name': 'Drama'}, {'id': 1074...",31357,Waiting to Exhale,1995.0
4,"[{'id': 35, 'name': 'Comedy'}]",11862,Father of the Bride Part II,1995.0
...,...,...,...,...
45460,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name': 'Action'}, {'id': 1074...",30840,Robin Hood,1991.0
45462,"[{'id': 18, 'name': 'Drama'}]",111109,Century of Birthing,2011.0
45463,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'name': 'Drama'}, {'id': 53, ...",67758,Betrayal,2003.0
45464,[],227506,Satan Triumphant,1917.0
45465,[],461257,Queerama,2017.0

In [95]:
new_meta['id'] = new_meta['id'].astype(int)

In [96]:
data = pd.merge(new_meta, credits, on='id')

In [97]:
pd.set_option('display.max_colwidth', 75)
data

,genres,id,title,year,cast,crew
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': ...",862,Toy Story,1995.0,"[{'cast_id': 14, 'character': 'Woody (voice)', 'credit_id': '52fe4284c3...","[{'credit_id': '52fe4284c3a36847f8024f49', 'department': 'Directing', '..."
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id':...",8844,Jumanji,1995.0,"[{'cast_id': 1, 'character': 'Alan Parrish', 'credit_id': '52fe44bfc3a3...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'department': 'Production', ..."
2,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]",15602,Grumpier Old Men,1995.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'credit_id': '52fe466a92514...","[{'credit_id': '52fe466a9251416c75077a89', 'department': 'Directing', '..."
3,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'name': 'Drama'}, {'id': 1074...",31357,Waiting to Exhale,1995.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah' Jackson"", 'credit_id': ...","[{'credit_id': '52fe44779251416c91011acb', 'department': 'Directing', '..."
4,"[{'id': 35, 'name': 'Comedy'}]",11862,Father of the Bride Part II,1995.0,"[{'cast_id': 1, 'character': 'George Banks', 'credit_id': '52fe44959251...","[{'credit_id': '52fe44959251416c75039ed7', 'department': 'Sound', 'gend..."
...,...,...,...,...,...,...
45440,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name': 'Action'}, {'id': 1074...",30840,Robin Hood,1991.0,"[{'cast_id': 1, 'character': 'Sir Robert Hode', 'credit_id': '52fe44439...","[{'credit_id': '52fe44439251416c9100a899', 'department': 'Directing', '..."
45441,"[{'id': 18, 'name': 'Drama'}]",111109,Century of Birthing,2011.0,"[{'cast_id': 1002, 'character': 'Sister Angela', 'credit_id': '52fe4af1...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'department': 'Directing', '..."
45442,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'name': 'Drama'}, {'id': 53, ...",67758,Betrayal,2003.0,"[{'cast_id': 6, 'character': 'Emily Shaw', 'credit_id': '52fe4776c3a368...","[{'credit_id': '52fe4776c3a368484e0c8387', 'department': 'Directing', '..."
45443,[],227506,Satan Triumphant,1917.0,"[{'cast_id': 2, 'character': '', 'credit_id': '52fe4ea59251416c7515d7d5...","[{'credit_id': '533bccebc3a36844cf0011a7', 'department': 'Directing', '..."
45444,[],461257,Queerama,2017.0,[],"[{'credit_id': '593e676c92514105b702e68e', 'department': 'Directing', '..."

In [98]:
# evaluates an expression node or a string containing a Python literal or container display
import ast
data['genres'] = data['genres'].map(lambda x: ast.literal_eval(x))
data['cast'] = data['cast'].map(lambda x: ast.literal_eval(x))
data['crew'] = data['crew'].map(lambda x: ast.literal_eval(x))

In [99]:
def make_genresList(x):
    gen = []
    st = " "
    for i in x:
        if i.get('name') == 'Science Fiction':
            scifi = 'Sci-Fi'
            gen.append(scifi)
        else:
            gen.append(i.get('name'))
    if gen == []:
        return np.NaN
    else:
        return (st.join(gen))

In [100]:
data['genres_list'] = data['genres'].map(lambda x: make_genresList(x))

In [101]:
data['genres_list']

0         Animation Comedy Family
1        Adventure Fantasy Family
2                  Romance Comedy
3            Comedy Drama Romance
4                          Comedy
                   ...
45440        Drama Action Romance
45441                       Drama
45442       Action Drama Thriller
45443                         NaN
45444                         NaN
Name: genres_list, Length: 45445, dtype: object

In [102]:
def get_actor1(x):
    casts = []
    for i in x:
        casts.append(i.get('name'))
    if casts == []:
        return np.NaN
    else:
        return (casts[0])

In [103]:
data['actor_1_name'] = data['cast'].map(lambda x: get_actor1(x))

In [104]:
def get_actor2(x):
    casts = []
    for i in x:
        casts.append(i.get('name'))
    if casts == [] or len(casts)<=1:
        return np.NaN
    else:
        return (casts[1])

In [105]:
data['actor_2_name'] = data['cast'].map(lambda x: get_actor2(x))

In [106]:
data['actor_2_name']

0                Tim Allen
1            Jonathan Hyde
2              Jack Lemmon
3           Angela Bassett
4             Diane Keaton
               ...
45440          Uma Thurman
45441          Perry Dizon
45442         Adam Baldwin
45443    Nathalie Lissenko
45444                  NaN
Name: actor_2_name, Length: 45445, dtype: object

In [107]:
def get_actor3(x):
    casts = []
    for i in x:
        casts.append(i.get('name'))
    if casts == [] or len(casts)<=2:
        return np.NaN
    else:
        return (casts[2])

In [108]:
data['actor_3_name'] = data['cast'].map(lambda x: get_actor3(x))

In [109]:
data['actor_3_name']

0            Don Rickles
1          Kirsten Dunst
2            Ann-Margret
3         Loretta Devine
4           Martin Short
              ...
45440    David Morrissey
45441      Hazel Orencio
45442      Julie du Page
45443       Pavel Pavlov
45444                NaN
Name: actor_3_name, Length: 45445, dtype: object

In [110]:
def get_directors(x):
    dt = []
    st = " "
    for i in x:
        if i.get('job') == 'Director':
            dt.append(i.get('name'))
    if dt == []:
        return np.NaN
    else:
        return (st.join(dt))

In [111]:
data['director_name'] = data['crew'].map(lambda x: get_directors(x))

In [112]:
data['director_name']

0           John Lasseter
1            Joe Johnston
2           Howard Deutch
3         Forest Whitaker
4           Charles Shyer
               ...
45440          John Irvin
45441            Lav Diaz
45442      Mark L. Lester
45443    Yakov Protazanov
45444       Daisy Asquith
Name: director_name, Length: 45445, dtype: object

In [113]:
movie = data.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres_list','title']]

In [114]:
movie

,director_name,actor_1_name,actor_2_name,actor_3_name,genres_list,title
0,John Lasseter,Tom Hanks,Tim Allen,Don Rickles,Animation Comedy Family,Toy Story
1,Joe Johnston,Robin Williams,Jonathan Hyde,Kirsten Dunst,Adventure Fantasy Family,Jumanji
2,Howard Deutch,Walter Matthau,Jack Lemmon,Ann-Margret,Romance Comedy,Grumpier Old Men
3,Forest Whitaker,Whitney Houston,Angela Bassett,Loretta Devine,Comedy Drama Romance,Waiting to Exhale
4,Charles Shyer,Steve Martin,Diane Keaton,Martin Short,Comedy,Father of the Bride Part II
...,...,...,...,...,...,...
45440,John Irvin,Patrick Bergin,Uma Thurman,David Morrissey,Drama Action Romance,Robin Hood
45441,Lav Diaz,Angel Aquino,Perry Dizon,Hazel Orencio,Drama,Century of Birthing
45442,Mark L. Lester,Erika Eleniak,Adam Baldwin,Julie du Page,Action Drama Thriller,Betrayal
45443,Yakov Protazanov,Iwan Mosschuchin,Nathalie Lissenko,Pavel Pavlov,NaN,Satan Triumphant
45444,Daisy Asquith,NaN,NaN,NaN,NaN,Queerama

In [115]:
movie.isna().sum()

director_name     835
actor_1_name     2354
actor_2_name     3683
actor_3_name     4593
genres_list      2384
title               0
dtype: int64

In [116]:
movie = movie.dropna(how='any')

In [117]:
movie.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres_list      0
title            0
dtype: int64

In [118]:
movie = movie.rename(columns={'genres_list':'genres'})
movie = movie.rename(columns={'title':'movie_title'})

In [119]:
movie['movie_title'] = movie['movie_title'].str.lower()

In [120]:
movie['comb'] = movie['actor_1_name'] + ' ' + movie['actor_2_name'] + ' '+ movie['actor_3_name'] + ' '+ movie['director_name'] +' ' + movie['genres']

In [121]:
movie

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,John Lasseter,Tom Hanks,Tim Allen,Don Rickles,Animation Comedy Family,toy story,Tom Hanks Tim Allen Don Rickles John Lasseter Animation Comedy Family
1,Joe Johnston,Robin Williams,Jonathan Hyde,Kirsten Dunst,Adventure Fantasy Family,jumanji,Robin Williams Jonathan Hyde Kirsten Dunst Joe Johnston Adventure Fanta...
2,Howard Deutch,Walter Matthau,Jack Lemmon,Ann-Margret,Romance Comedy,grumpier old men,Walter Matthau Jack Lemmon Ann-Margret Howard Deutch Romance Comedy
3,Forest Whitaker,Whitney Houston,Angela Bassett,Loretta Devine,Comedy Drama Romance,waiting to exhale,Whitney Houston Angela Bassett Loretta Devine Forest Whitaker Comedy Dr...
4,Charles Shyer,Steve Martin,Diane Keaton,Martin Short,Comedy,father of the bride part ii,Steve Martin Diane Keaton Martin Short Charles Shyer Comedy
...,...,...,...,...,...,...,...
45438,Ben Rock,Monty Bane,Lucy Butler,David Grammer,Horror,the burkittsville 7,Monty Bane Lucy Butler David Grammer Ben Rock Horror
45439,Aaron Osborne,Lisa Boyle,Kena Land,Zaneta Polard,Sci-Fi,caged heat 3000,Lisa Boyle Kena Land Zaneta Polard Aaron Osborne Sci-Fi
45440,John Irvin,Patrick Bergin,Uma Thurman,David Morrissey,Drama Action Romance,robin hood,Patrick Bergin Uma Thurman David Morrissey John Irvin Drama Action Romance
45441,Lav Diaz,Angel Aquino,Perry Dizon,Hazel Orencio,Drama,century of birthing,Angel Aquino Perry Dizon Hazel Orencio Lav Diaz Drama
45442,Mark L. Lester,Erika Eleniak,Adam Baldwin,Julie du Page,Action Drama Thriller,betrayal,Erika Eleniak Adam Baldwin Julie du Page Mark L. Lester Action Drama Th...

In [122]:
movie.drop_duplicates(subset ="movie_title", keep = 'last', inplace = True)

In [123]:
movie

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,John Lasseter,Tom Hanks,Tim Allen,Don Rickles,Animation Comedy Family,toy story,Tom Hanks Tim Allen Don Rickles John Lasseter Animation Comedy Family
1,Joe Johnston,Robin Williams,Jonathan Hyde,Kirsten Dunst,Adventure Fantasy Family,jumanji,Robin Williams Jonathan Hyde Kirsten Dunst Joe Johnston Adventure Fanta...
2,Howard Deutch,Walter Matthau,Jack Lemmon,Ann-Margret,Romance Comedy,grumpier old men,Walter Matthau Jack Lemmon Ann-Margret Howard Deutch Romance Comedy
3,Forest Whitaker,Whitney Houston,Angela Bassett,Loretta Devine,Comedy Drama Romance,waiting to exhale,Whitney Houston Angela Bassett Loretta Devine Forest Whitaker Comedy Dr...
4,Charles Shyer,Steve Martin,Diane Keaton,Martin Short,Comedy,father of the bride part ii,Steve Martin Diane Keaton Martin Short Charles Shyer Comedy
...,...,...,...,...,...,...,...
45438,Ben Rock,Monty Bane,Lucy Butler,David Grammer,Horror,the burkittsville 7,Monty Bane Lucy Butler David Grammer Ben Rock Horror
45439,Aaron Osborne,Lisa Boyle,Kena Land,Zaneta Polard,Sci-Fi,caged heat 3000,Lisa Boyle Kena Land Zaneta Polard Aaron Osborne Sci-Fi
45440,John Irvin,Patrick Bergin,Uma Thurman,David Morrissey,Drama Action Romance,robin hood,Patrick Bergin Uma Thurman David Morrissey John Irvin Drama Action Romance
45441,Lav Diaz,Angel Aquino,Perry Dizon,Hazel Orencio,Drama,century of birthing,Angel Aquino Perry Dizon Hazel Orencio Lav Diaz Drama
45442,Mark L. Lester,Erika Eleniak,Adam Baldwin,Julie du Page,Action Drama Thriller,betrayal,Erika Eleniak Adam Baldwin Julie du Page Mark L. Lester Action Drama Th...

In [124]:
movie.to_csv('movie.csv',index=False)